/** {
    border: 1px red solid;
    padding: 0;
} */
body {
    background-image: url(../Assets/whiteBack.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

main .contact{
    margin-top: 23vh;
}

main .contact ul li {
    display: flex;
    align-self: center;
    margin-left: 13vw;
}

main .contact ul li {
    font-size: 20px;
}

main .contact ul li img{
    width: 13vh;
    margin-right: 13vw;
}

main .contact ul {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 2vw;
}

main .contact ul li p a {
    transition: 0.5s ease-in-out;
}

main .contact ul li p a:hover{
    background-color: darkgrey;
    border: solid 1px black;
}